---
import Layout from "@/layouts/main.astro"
import AsciiSection from "@/components/marketing/ascii/ascii-section.astro"
import AppDisplaySection from "@/components/marketing/app-display/app-display-section.astro"
import BentoGridSection from "@/components/marketing/bento-grid/bento-grid-section.astro"
import GodRaysSection from "@/components/marketing/god-rays/god-rays-section.astro"
import HeatmapStrip from "@/components/marketing/heatmap-strip/heatmap-strip.astro"
import HeroSection from "@/components/marketing/hero/hero-section.astro"
import MarketingHeader from "@/components/marketing/header/marketing-header.astro"
import MissionSection from "@/components/marketing/mission/mission-section.astro"
import NewsletterSection from "@/components/marketing/newsletter/newsletter-section.astro"
import ProblemSolvedSection from "@/components/marketing/problem-solved/problem-solved-section.astro"
import ServicesSection from "@/components/marketing/services/services-section.astro"
---

<Layout>
  <main class="relative overflow-hidden bg-neutral-50" id="platform">
    <MarketingHeader />
    <HeroSection />
    <AsciiSection />
    <ProblemSolvedSection />
    <MissionSection />
    <AppDisplaySection />
    <GodRaysSection />
    <ServicesSection />
    <BentoGridSection />
    <NewsletterSection />
    <HeatmapStrip />
  </main>
</Layout>
